## Employee Attrition prediction

## Import Library

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import LinearSVC, SVC
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

set the display max of columns to none

In [2]:
pd.set_option('display.max_columns', None)

## Preparing data

In [3]:
data = pd.read_csv('HR Employee Attrition.csv')

In [4]:
data

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Y,Yes,11,3,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,Y,No,23,4,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Y,Yes,15,3,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,4,Female,56,3,1,Research Scientist,3,Married,2909,23159,1,Y,Yes,11,3,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,1,Male,40,3,1,Laboratory Technician,2,Married,3468,16632,9,Y,No,12,3,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,3,Male,41,4,2,Laboratory Technician,4,Married,2571,12290,4,Y,No,17,3,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,4,Male,42,2,3,Healthcare Representative,1,Married,9991,21457,4,Y,No,15,3,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,2,Male,87,4,2,Manufacturing Director,2,Married,6142,5174,1,Y,Yes,20,4,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,4,Male,63,2,2,Sales Executive,2,Married,5390,13243,2,Y,No,14,3,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,2,Male,82,4,2,Laboratory Technician,3,Married,4404,10228,2,Y,No,12,3,1,80,0,6,3,4,4,3,1,2

Assessing data

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [6]:
data.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [7]:
data.duplicated().sum()

0

In [8]:
data.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,2.728571,6502.931293,14313.103401,2.693197,15.209524,3.153741,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,1.102846,4707.956783,7117.786044,2.498009,3.659938,0.360824,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,1.000000,1009.000000,2094.000000,0.000000,11.000000,3.000000,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,2.000000,2911.000000,8047.000000,1.000000,12.000000,3.000000,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,3.000000,4919.000000,14235.500000,2.000000,14.000000,3.000000,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,4.000000,8379.000000,20461.500000,4.000000,18.000000,3.000000,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,4.000000,19999.000000,26999.000000,9.000000,25.000000,4.000000,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

## Preprocessing

In [9]:
def onehot_encode(df, column):
    df = df.copy()
    dummies = pd.get_dummies(df[column], prefix=column)
    df = pd.concat([df, dummies], axis=1)
    df = df.drop(column, axis=1)
    return df

In [14]:
def preprocess_inputs(df):
  df = df.copy()

  # drop single-value columns and id employee
  df = df.drop(['EmployeeCount', 'EmployeeNumber', 'Over18', 'StandardHours'], axis=1)

  # Binary-encode
  df['Gender'] = df['Gender'].replace({'Female': 0, 'Male': 1})
  df['OverTime'] = df['OverTime'].replace({'No': 0, 'Yes': 1})
  df['Attrition'] = df['Attrition'].replace({'No': 0, 'Yes': 1})

  # Ordinal-encode
  df['BusinessTravel'] = df['BusinessTravel'].replace({'Non-Travel': 0, 'Travel_Rarely': 1, 'Travel_Frequently': 2})

  # One-hot encoding
  for column in ['Department', 'EducationField', 'JobRole', 'MaritalStatus']:
    df = onehot_encode(df, column=column)

  # split label and atribute into X and y
  y = df['Attrition']
  X = df.drop('Attrition', axis=1)

  # train test split
  X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=1)

  # Scale X using StanardScaler
  scaler = StandardScaler()
  scaler.fit(X_train)
  X_train = pd.DataFrame(scaler.transform(X_train), index=X_train.index, columns=X_train.columns)
  X_test = pd.DataFrame(scaler.transform(X_test), index=X_test.index, columns=X_test.columns)

  return X_train, X_test, y_train, y_test

In [15]:
X_train, X_test, y_train, y_test = preprocess_inputs(data)

In [18]:
X_train

,Age,BusinessTravel,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,JobRole_Healthcare Representative,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
163,2.182386,-0.156407,-1.177831,1.820859,-0.909639,0.252443,0.837784,0.854095,1.755102,0.840018,1.167407,0.622807,1.278418,0.113841,1.632039,0.204750,-0.423720,-0.700339,0.252026,0.089054,-0.634535,-2.486256,-0.316359,-0.336970,-0.354478,-0.030905,-0.212916,0.719319,-0.650945,-0.13484,1.193626,-0.349482,-0.669534,-0.251577,-0.317999,3.177159,-0.190061,-0.466252,-0.255377,-0.332388,-0.259134,-0.497075,-0.530137,-0.241880,1.886303,-0.913583,-0.694965
47,-0.010723,-0.156407,-0.994827,1.204862,-0.909639,-0.663832,0.837784,0.361493,0.378184,-0.965944,-0.660650,-0.744740,-0.575211,0.517083,-0.612730,1.574406,2.360049,-1.638380,-0.928783,-0.425579,-1.414277,0.357943,-0.988211,-1.164847,-0.666971,-1.175620,-0.212916,0.719319,-0.650945,-0.13484,1.193626,-0.349482,-0.669534,-0.251577,-0.317999,-0.314747,-0.190061,-0.466252,-0.255377,-0.332388,-0.259134,2.011768,-0.530137,-0.241880,-0.530137,1.094592,-0.694965
1085,-0.668656,1.720482,-0.616455,-0.766330,0.074478,1.168718,-1.193626,-1.608915,0.378184,-0.965944,0.253379,-0.518414,-1.429357,-0.692644,-0.612730,-0.890975,-0.423720,-1.638380,-0.928783,-0.554238,-0.634535,-2.486256,0.019567,-0.612929,1.520481,0.827631,-0.212916,0.719319,-0.650945,-0.13484,1.193626,-0.349482,-0.669534,-0.251577,-0.317999,-0.314747,-0.190061,-0.466252,-0.255377,-0.332388,-0.259134,2.011768,-0.530137,-0.241880,-0.530137,-0.913583,1.438922
98,2.292042,-0.156407,-0.317220,0.096066,1.058596,1.168718,0.837784,-1.411874,0.378184,1.742999,0.253379,1.567537,1.420095,-1.095887,-0.612730,-0.617044,-0.423720,0.237701,-0.928783,3.434173,-1.414277,-1.064156,5.058456,1.594743,-0.354478,1.113809,-0.212916,-1.390204,1.536229,-0.13484,-0.837784,-0.349482,1.493576,-0.251577,-0.317999,-0.314747,-0.190061,-0.466252,-0.255377,-0.332388,-0.259134,-0.497075,1.886303,-0.241880,-0.530137,-0.913583,1.438922
942,-0.120379,-0.156407,-1.200088,0.096066,1.058596,1.168718,-1.193626,-0.131109,0.378184,0.840018,0.253379,0.123056,-1.205515,0.113841,-0.612730,-0.890975,-0.423720,-1.638380,-0.928783,-0.168262,-2.194020,0.357943,0.019567,0.766866,-0.354478,0.827631,-0.212916,0.719319,-0.650945,-0.13484,-0.837784,-0.349482,-0.669534,-0.251577,3.144660,3.177159,-0.190061,-0.466252,-0.255377,-0.332388,-0.259134,-0.497075,-0.530137,-0.241880,-0.530137,1.094592,-0.694965
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,-0.449345,1.720482,0.041368,-1.012729,1.058596,0.252443,-1.193626,0.903355,1.755102,-0.062963,-0.660650,-0.219203,0.822432,-0.692644,1.632039,-0.617044,-0.423720,-1.638380,0.252026,-0.682896,-0.634535,0.357943,-0.148396,0.214948,-0.354478,-0.603263,-0.212916,0.719319,-0.650945,-0.13484,-0.837784,-0.349482,-0.669534,3.974921,-0.317999,3.177159,-0.190061,-0.466252,-0.255377,-0.332388,-0.259134,-0.497075,-0.530137,-0.241880,-0.530137,1.094592,-0.694965
905,-0.887967,-0.156407,-0.287543,-1.012729,0.074478,1.168718,-1.193626,1.051136,-0.998734,1.742999,1.167407,2.047468,-1.532485,0.113841,-0.612730,-0.343113,-0.423720,-0.700339,1.432836,-0.296921,-0.634535,-1.064156,0.019567,0.766866,-0.354478,0.827631,-0.212916,0.719319,-0.650945,-0.13484,1.193626,-0.349482,-0.669534,-0.251577,-0.317999,-0.314747,-0.190061,-0.466252,-0.255377,-0.332388,3.859001,-0.497075,-0.530137,-0.241880,1.886303,-0.913583,-0.694965
1096,0.318243,-0.156407,0.216953,-0.396732,-0.909639,0.252443,0.837784,-1.362614,0.378184,1.742999,1.167407,2.114172,0.431306,-0.692644,1.632039,1.574406,2.360049,1.175741,-0.928783,1.246980,-0.634535,0.357943,2.371049,0.766866,1.520481,0.827631,4.696682,-1.390204,-0.650945,-0.13484,-0.837784,-0.349482,1.493576,-0.251577,-0.317999,-0.314747,-0.190061,-0.466252,3.915780,-0.332388,-0.259134,-0.497075,-0.530137,-0.241880,-0.530137,-0.913583,1.438922
235,0.647210,-0.156407,0.553284,0.835263,0.074478,1.168718,-1.193626,0.706314,0.378184,1.742999,1.167407,2.034681,-0.924551,0.920326,1.632039,1.848337,2.360049,0.237701,0.252026,1.375639,0.145207,0.357943,1.699197,2.422620,-0.354478,1.399988,-0.212916,-1.390204,1.536229,-0.13484,-0.837784,2.861381,-0.669534,-0.251577,-0.317999,-0.314747,-0.190061,-0.466252,3.915780,-0.332388,-0.259134,-0.497075,-0.530137,-0.241880,-0.530137,1.094592,-0.694965
1061,-1.436244,-2.033297,0.048787,0.465665,-0.909639,1.168718,-1.193626,0.607794,0.378184,-0.965944,-0.660650,-0.955509,-1.014735,-0.692644,-0.612730,-0.617044,-0.423720,0.237701,0.252026,-1.326188,-0.634535,0.357943,-0.988211,-1.164847,-0.666971,-1.175620,-0.212916,-1.390204,1.536229,-0.13484,1.193626,-0.349482,-0.669534,-0.251577,-0.317999,-0.314747,-0.190061,-0.466252,-0.255377,-0.332388,-0.259134,-0.497075,-0.530137,4.134284,-0.530137,1.094592,-0.694965

In [20]:
y_train

163     0
47      0
1085    1
98      0
942     0
       ..
715     0
905     0
1096    0
235     0
1061    0
Name: Attrition, Length: 1176, dtype: int64

## Model Selection

In [40]:
models = {
    "                   Logistic Regression": LogisticRegression(),
    "                   K-Nearest Neighbors": KNeighborsClassifier(),
    "                         Decision Tree": DecisionTreeClassifier(),
    "Support Vector Machine (Linear Kernel)": LinearSVC(),
    "   Support Vector Machine (RBF Kernel)": SVC(),
    "                        Neural Network": MLPClassifier(),
    "                         Random Forest": RandomForestClassifier(),
    "                     Gradient Boosting": GradientBoostingClassifier()
}

for name, model in models.items():
    model.fit(X_train, y_train)
    print(name + " trained.")

                   Logistic Regression trained.
                   K-Nearest Neighbors trained.
                         Decision Tree trained.

/usr/local/lib/python3.10/dist-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

Support Vector Machine (Linear Kernel) trained.
   Support Vector Machine (RBF Kernel) trained.

/usr/local/lib/python3.10/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:686: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

                        Neural Network trained.
                         Random Forest trained.
                     Gradient Boosting trained.

In [41]:
for name, model in models.items():
    print(name + ": {:.2f}%".format(model.score(X_test, y_test) * 100))

                   Logistic Regression: 84.69%
                   K-Nearest Neighbors: 80.27%
                         Decision Tree: 78.57%
Support Vector Machine (Linear Kernel): 84.01%
   Support Vector Machine (RBF Kernel): 84.01%
                        Neural Network: 82.31%
                         Random Forest: 82.31%
                     Gradient Boosting: 82.31%